html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Noto Sans", serif;
}

img { border: 0;}

body, nav, section, header, main, footer, h1, h2, p, ul, li, dl, dt, dd, div {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0;
}
/* headerここから*/
.header_contents{
  position:relative;
  height:100px;
  width:100vw;
  background-color:#025c98;
  display:flex;
}

.header_left_txt{
  position:relative;
}

.header_left_txt_jp{
  margin-top:23px;
  margin-left:3vw;
  width:100%;
  font-family:"lnter";
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.2rem;
  text-align: left;
  color:#ffffff;
}

.header_left_txt_en{
  margin-top:2px;
  margin-left:3vw;
  width:100%;
  font-family:"lnter";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
  text-align: left;
  color:#ffffff;
  letter-spacing:0.22rem;
}

.header_right_btns{
  display:flex;
  width:40vw;
  position:relative;
  margin-left: auto;
}

.header_right_btns_boardMembersHistory{
  display:block;
  padding-top:40px;
  width:80%;
  font-family:"lnter";
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 2.4rem;
  color:#ffffff;
  text-align: center;
  background-color:#025c98;
}

.header_right_btns_boardMembersHistory:hover{
  background-color:#004588;
}

.header_right_btns_annualSchedule{
  display:block;
  padding-top:40px;
  padding-left:1%;
  width:100%;
  font-family:"lnter";
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 2.4rem;
  color:#ffffff;
  text-align: center;
  background-color:#025c98;

}
.header_right_btns_annualSchedule:hover{
  background-color:#004588;
}

.header_right_btns_gallery{
  display:block;
  padding-top:40px;
  width:80%;
  margin-right:20px;
  font-family:"lnter";
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 2.4rem;
  color:#ffffff;
  text-align: center;
}

.header_right_btns_gallery:hover{
  background-color:#004588;
}
/* ----------headerここまで---------- */
.title_executive{
  background: #01A2D9;
  height: 200px;
}

.title_executive>p{
  color: #FFF;
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 700;
  padding-top: 70px;
  padding-left: 10%;
}

.wrapper_contents_executive{
  background-color: #004588;
  display: flex;
  align-items: center;
  flex-flow: column;
}
/* --------------ボタン---------------始 */
.contents_change_btn{
  margin-top: 15px;
  margin-left: 10%;
  align-self: flex-start;
  position: relative;
}

.contents_change_btn_left{
  position: absolute;
  top: 7px;
  left: 26px;
}

.contents_change_btn_left>:nth-child(2){
  position: absolute;
  top: 50px;
  left: 50px;
}

.contents_change_btn_left>:nth-child(3){
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  top: 27px;
  left: 10px;
}

.contents_change_btn_right{
  position: absolute;
  top: 7px;
  right: 26px;
}

.contents_change_btn_right>:nth-child(2){
  position: absolute;
  top: 50px;
  right: 50px;
}

.contents_change_btn_right>:nth-child(3){
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  top: 27px;
  left: 18px;
}
/* --------------ボタン---------------終 */
.wrapper_contents_executive>:nth-child(2){
  margin-top: 10px!important;
}

.contents_executive{
  width: 1000px;
  border-radius: 50px;
  background: #FFF2C3;
  margin-top: 70px;
}

.contents_executive pre{
  color: #000;
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 700;
}

.contents_executive>pre{
  padding-top: 30px;
  padding-left: 30px;
}

.executive_profile_flex{
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.executive_profile{
  display: flex;
  flex-flow: column;
}

.executive_profile>*{
  margin-top: 10px;
}

.executive_profile>:nth-child(1){
  margin-top: 0px;
}

.bold-text{
  font-size: 20px!important;
}

.more_btn{
  width: 300px;
  height: 70px;
  border-radius: 20px;
  background: #01A2D9;
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more_btn p{
  color: #FFF;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 700;
}