html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Noto Sans", serif;
}

img { border: 0;}

body, nav, section, header, main, footer, h1, h2, p, ul, li, dl, dt, dd, div {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0;
}
/* headerここから*/
.header_contents{
  position:relative;
  height:100px;
  width:100vw;
  background-color:#025c98;
  display:flex;
}

.header_left_txt{
  position:relative;
}

.header_left_txt_jp{
  margin-top:23px;
  margin-left:3vw;
  width:100%;
  font-family:"lnter";
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.2rem;
  text-align: left;
  color:#ffffff;
}

.header_left_txt_en{
  margin-top:2px;
  margin-left:3vw;
  width:100%;
  font-family:"lnter";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
  text-align: left;
  color:#ffffff;
  letter-spacing:0.22rem;
}

.header_right_btns{
  display:flex;
  width:40vw;
  position:relative;
  margin-left: auto;
}

.header_right_btns_boardMembersHistory{
  display:block;
  padding-top:40px;
  width:80%;
  font-family:"lnter";
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 2.4rem;
  color:#ffffff;
  text-align: center;
  background-color:#025c98;
}

.header_right_btns_boardMembersHistory:hover{
  background-color:#004588;
}

.header_right_btns_annualSchedule{
  display:block;
  padding-top:40px;
  padding-left:1%;
  width:100%;
  font-family:"lnter";
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 2.4rem;
  color:#ffffff;
  text-align: center;
  background-color:#025c98;
}

.header_right_btns_annualSchedule:hover{
  background-color:#004588;
}

.header_right_btns_gallery{
  display:block;
  padding-top:40px;
  width:80%;
  margin-right:20px;
  font-family:"lnter";
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 2.4rem;
  color:#ffffff;
  text-align: center;
}

.header_right_btns_gallery:hover{
  background-color:#004588;
}
/* ----------headerここまで---------- */
.title_executive{
  background: #01A2D9;
  height: 200px;
}

.title_executive>p{
  color: #FFF;
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 700;
  padding-top: 70px;
  padding-left: 10%;
}

.wrapper_contents_executive{
  background-color: #004588;
  padding: 15px 30px 30px 30px;
}

.container_contens_executive{
  max-width: 1000px;
  margin: 0 auto;
}
/* --------------ボタン---------------始 */
.contents_change_btn{
  width: 212px;
  height: 103px;
  margin-bottom: 10px;
  position: relative;
  flex-flow: row;
}

.contents_change_btn img{
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contents_change_btn_left{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.contents_change_btn_left p{
  width: 60px;
  position: relative;
  font-size: 15px;
  font-family: 'Inter';
  font-weight:700;
  top: 35px;
  left: 36px;
}

.contents_change_btn_right{
  position:absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.contents_change_btn_right p{
  width: 60px;
  position: relative;
  font-size: 15px;
  font-family: 'Inter';
  font-weight:700;
  top: 35px;
  left: 18px;
}
/* --------------ボタン---------------終 */
.contents_executive{
  width: 100%;
  border-radius: 50px;
  background: #FFF2C3;
  margin-bottom: 70px;
  padding: 30px 10px 20px 10px;
}

.contents_executive:nth-child(n+5){
  display: none;
}

.contents_executive p{
  color: #000;
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 700;
}

.executive_profile_flex{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.executive_profile>*{
  margin-top: 10px;
  word-wrap: break-word;
}

.executive_profile>:nth-child(1){
  margin-top: 0px;
}

.bold-text{
  font-size: 20px!important;
}

.toggle_btn{
  max-width: 300px;
  height: 70px;
  border-radius: 20px;
  background: #01A2D9;
  margin: 70px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle_btn p{
  color: #FFF;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 700;
}