html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Noto Sans", serif;
}

img {
    border: 0;}

body,
nav,
section,
header,
main,
footer,
h1,
h2,
p,
ul,
li,
dl,
dt,
dd,
div {
    margin: 0;
    padding: 0;
}

body * {
    font-family: "Noto Sans JP", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0;
}


.Container {
    max-width: 100%;
    height: 100px;
    background: #025C98;
    position: relative;
    display: flex;
    justify-content: center;
}

.thumbnail {
    color: white;
}

.thumbnail h1 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 19%;
    left: 5%;
}

.thumbnail a {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
    position: absolute;
    top: 65%;
    left: 5%;
}

.logo {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
}

.rekidai {
    width: 164px;
    height: 136px;
    position: absolute;
    left: 59%;

}
.rekidai a{
    position: absolute;
    top: 32%;
    left: 32%;
    color: white;
}
.rekidai:hover{
    background-color: #004588;

}

.nenkan {
    position: absolute;
    left: 72%;
    width: 164px;
    height: 136px;
}

.nenkan a {
    position: absolute;
    left: 12%;
    top: 32%;
    color: white;
}
.nenkan:hover{
    background-color: #004588;
}



.photo {
    position: absolute;
    left: 85%;
    width: 164px;
    height: 136px;

}

.photo a {
    position: absolute;
    top: 33%;
    left: 23%;
    color: white;
}

 .photo:hover{
    background-color: #004588;   
}

.main {
    width: 1440px;
    height: 1508px;
    position: relative;
}

.Container2 {
    background-color: #01A2D9;
    width: 100%;

}

.top {
    height: 239px;
    background: #002764;
    max-width: 100%;
    position: relative;
}

.top a {
    max-width: 100%;
    position: absolute;
    top: 35%;
    left: 11%;
    color: white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.katudou {
    height: 217px;
    padding-left: 11%;
    display: flex;
    align-items: center;
}

.katudou a {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.activity-photos {
    height: 677px;
    background: #002764;
    display: flex;
    align-items: center;
    position: relative;
}
.swiper-katudou-gallery{
    display: none;
}

.activity-photos .swiper .swiper-wrapper .swiper-slide {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 100px 0;
    place-items: center;
}

.swiper-pagination {
    text-align: center;
    color: white;
    bottom: 45px;
    font-size: 20px;
}

.swiper-button-prev,
.swiper-button-next {
    bottom: 35px;
    top: auto;
    right: 45vw;
}

.swiper-button-prev {
    left: 45vw;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.swiper-button-prev::after{
    transform: rotate(-135deg);
}

.swiper-button-prev::before,
.swiper-button-next::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 20px;
    background: white;
}


.illust {
    height: 217px;
    padding-left: 11%;
    display: flex;
    align-items: center;
    position: relative;
}

.illust a {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.illust-photos {
    height: 677px;
    background: #002764;
    width: 100%;
    position: relative;
}

.illust-photos .swiper2{
    padding-top: 91px;
}
.swiper2{
    overflow: hidden;
}

.swiper2 .swiper-wrapper .swiper-slide{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 100px 0;
    place-items: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.test-wrapper {
    display: flex;
}

.swiper2-pagination {
    /* width: fit-content; */
    text-align: center;
    color: white;
    top: 84.8%;
    font-size: 20px;
    position: absolute; 
    display: inline-block;
}

.triangle-wrapper {
    margin: 0 38px;
}

.triangle-prev-1 {
    transform: rotate(270deg);
    /* position: absolute; */
    /* left: 41%; */
    /* top: 83%; */
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom:22.516px solid rgb(250, 250, 250);

  }

  .triangle-prev-2 {
    transform: rotate(270deg);
    position: relative;
    top: -19.3px;
    left: 3.8px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 17.32px solid rgba(0, 39, 100, 1);
  }


.triangle-next-1 {
    transform: rotate(90deg);
    /* position: relative; */
    left: 41%;
    top: 83%;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom:22.516px solid rgb(250, 250, 250);

  }

  /* border-leftとborder-rightの値を同じもにする /
          / border-bottomの値を「border-left * 1.732」の値にする /
          / 上記の式で正三角形が作れる。 */

  .triangle-next-2 {
    transform: rotate(90deg);
    position: relative;
    top: -19.3px;
    left: 2px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 17.32px solid rgba(0, 39, 100, 1);
  }
/* .swiper2-button-prev,
.swiper2-button-next{
    position: absolute;
    bottom: 86px;
    top: auto;
    right: 45vw;
}

.swiper2-button-prev{
    left: 45vw;
}

.swiper2-button-prev::after,
.swiper2-button-next::after {
    content: "";
    display: block;
    position: absolute;
    right: 0%;
    left: 0%;
    top: 0%; 
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.swiper2-button-prev::after{
    transform: rotate(-135deg);
}

.swiper2-button-prev::before,
.swiper2-button-next::before{
    content: "";
    display: block;
    position: absolute;
    left: 7%;
    top: 0%; 
    width: 2px;
    height: 20px;
    background: white;
} */


.en1 img {
    position: absolute;
    top: 0;
    left: 0;
}

.en2 img {
    position: absolute;
    right: 0;
    top: 0;
}

.enn {
    position: relative;
}

.ellips15 {
    position: absolute;
    left: 0%;
    width: 186px;
    height: 187px;
    border-radius: 50%;
    background-color: #EFC73A;
    margin-top: 0%;

}

.ellips18 {
    position: absolute;
    left: 0%;
    width: 287px;
    height: 288px;
    border-radius: 50%;
    background-color: #EFC73A;
    margin-top: 0%;

}

.hp-link-container{
    height: 600px;
    position: relative;
    background-color: #01A2D9;
}

.hp {
    width: 337px;
    height: 337px;
    border-radius: 50%;
    background-color: #EFC73A;
    position: relative;
    margin-left: 120px;
}

.en3 img{
    margin-left: auto;
    display: block;
}

.hp p1 {
    position: absolute;
    top: 29%;
    left: 13%;
    font-size: 20px;
    font-weight: 700;
}

.hp a {
    position: absolute;
    top: 46%;
    left: 10%;
    font-size: 20px;
    font-weight: 700;
}

.En2 {
    position: relative;
}

.enn2 {
    width: 218px;
    height: 219px;
    background-color: #EFC73A;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 55%;
}
.Container3{
    height: 709px;
}
.Container3 img{
    max-width: 100%;
    background-color:#01A2D9;
    
}

.Container2 > img{
    width: 100%;
}
.footer {
    max-width: 100%;
    height: 124px;
    background-color: #002764;
}

.footer p {
    font-size: 14px;
    color: white;
}

.TEXT {
    margin-left: 20px;
    padding-top: 32px;
}

@media screen and (max-width:768px){
    .Container{
        height: 100px;
        background: #025C98;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .thumbnail{
        color: white;  
    }
    .thumbnail h1{
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: absolute;
        top: 33%;
        left: 5%;
    }
    .thumbnail a{
        font-size: 7px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.7px;
        position: absolute;
        top: 65%;
        left: 5%;
    }
    .logo{
        color: white;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        display: none;   
    }
    .nenkan{
        position: absolute;
        left: 72%;
        width: 164px;
        height: 136px;
        display: none;
    }
    .nenkan a{
        position: absolute;
        top: 26%;
        display: none;
    }
    .rekidai{
        position: absolute;
        top: 32%;
        left: 62%;
        display: none;
    }
    .hamburger{
        background-color:transparent;
        position: relative;
        cursor: pointer;
        margin: 0 18px 0 auto;
        width: 50px;
        height: 70px;
        position:absolute;
        top: 23%;
        left: 86%;
    }
    .icon span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color:white;
    }
    .icon span:nth-of-type(1) {
        top: 20px;
    }
    .icon span:nth-of-type(2) {
        top: 30px;
    }
    .icon span:nth-of-type(3) {
        bottom: 28px;
    }
    .photo{
        position: absolute;
        left: 60%;
        width: 164px;
        height: 136px;
        background: #004588;
    
    }
    .photo a{
        position: absolute;
        top: 27%;
        left: 20%;
    
    }
    .main{
        width: 1440px;
        height: 1508px;
        position: relative;
    }
    .Container2{
        background-color: #001630;
        max-width: 100%;
    
    }
    
    .top{
        height: 160px;
        background-color: black;
        max-width: 100%;
        position: relative;
    }
    .top a{
        max-width: 100%;
        position: absolute;
        top: 45%;
        left:11%;
        color: white;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .katudou{
        position: relative;
        height: 156px;
        align-items: center;

    }
    .katudou a{
        position: absolute;
        left: 9%;
        margin-top: -2%;
        color: white;
        font-size: 18px;
        font-weight: 700;
    }

    .activity-photos {
        height: 677px;
        background: #002764;
        display: flex;
        align-items: center;
        position: relative;
    }
    .swiper-katudou-gallery{
        display: block;
    }
    
    
    .activity-photos .swiper .swiper-wrapper .swiper-slide {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        gap: 100px 0;
        place-items: center;
        display: none;
    }
    
    .swiper-pagination {
        text-align: center;
        color: white;
        bottom: 45px;
        font-size: 20px;
        display: none;
    }
    
    .swiper-button-prev,
    .swiper-button-next {
        bottom: 35px;
        top: auto;
        right: 45vw;
        display: none;
    }
    
    .swiper-button-prev {
        left: 45vw;
    }
    
    .swiper-button-prev::after,
    .swiper-button-next::after {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        border-top: 2px solid white;
        border-right: 2px solid white;
        display: none;
    }
    
    .swiper-button-prev::after{
        transform: rotate(-135deg);
        display: none;
    }
    
    .swiper-button-prev::before,
    .swiper-button-next::before {
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 20px;
        background: white;
        display: none;
    }
    


    /* .gallery{
        max-width: 100%;
        height: 677px;
        background: #002764;
        margin-top: 16%;
    
    }
    .picutre1{
        position: relative;
    }
    .item1 img{
        width: 100px;
        height: 50.354px;
        position: absolute;
        top: 146%;
        left: 5%;
    
    }
    .item2{
        background-color: #88B3DD; ;
        width: 100px;
        height: 50.354px;
        position: absolute;
        top: 146%;
        left: 28%;
    }
    .item3{
        width: 114px;
    height: 162.354px;
    position: absolute;
    top: 146%;
    left: 51%;

    } */
    
    /* .item4{
        background-color: #88B3DD; ;
        width: 100px;
        height: 50.354px;
        position: absolute;
        top: 146%;
        left: 74%;
    }
    .item5{
        background-color: #88B3DD; ;
        width: 100px;
        height: 50.354px;
        position: absolute;
        top: 208%;
        left: 5%;
    }
     */

     .illust {
        height: 217px;
        padding-left: 11%;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .illust a {
        color: white;
        font-size: 20px;
        font-weight: 700;
    }
    
    .illust-photos {
        height: 677px;
        background: #002764;
        width: 100%;
        position: relative;
    }
    
    .illust-photos .swiper2{
        padding-top: 91px;
        display: none;
    }
    .swiper2{
        overflow: hidden;
    }
    
    .swiper2 .swiper-wrapper .swiper-slide{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        gap: 100px 0;
        place-items: center;
        display: none;
    }
    
    .pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
    
    .test-wrapper {
        display: flex;
    }
    
    .swiper2-pagination {
        /* width: fit-content; */
        text-align: center;
        color: white;
        top: 84.8%;
        font-size: 20px;
        position: absolute; 
        display: inline-block;
        display: none;
    }
    
    .triangle-wrapper {
        margin: 0 38px;
        display: none;
    }
    
    .triangle-prev-1 {
        transform: rotate(270deg);
        /* position: absolute; */
        /* left: 41%; */
        /* top: 83%; */
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom:22.516px solid rgb(250, 250, 250);
      }
    
      .triangle-prev-2 {
        transform: rotate(270deg);
        position: relative;
        top: -19.3px;
        left: 3.8px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 17.32px solid rgba(0, 39, 100, 1);
      }
    
    
    .triangle-next-1 {
        transform: rotate(90deg);
        /* position: relative; */
        left: 41%;
        top: 83%;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom:22.516px solid rgb(250, 250, 250);
    
      }
    
      /* border-leftとborder-rightの値を同じもにする /
              / border-bottomの値を「border-left * 1.732」の値にする /
              / 上記の式で正三角形が作れる。 */
    
      .triangle-next-2 {
        transform: rotate(90deg);
        position: relative;
        top: -19.3px;
        left: 2px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 17.32px solid rgba(0, 39, 100, 1);
      }
    .en1 img{
        position: absolute;
        top: 0%;
        left: 0%;
    }
    .en2 img{
        position: absolute;
        top: 0%;
        left: 60%;
        width: 30%;
        height: 30%;
    }
    .enn{
        position: relative;
    }
    .ellips15{
        position: absolute;
        left: 0%;
        width: 186px;
        height: 187px;
        border-radius: 50%;
        background-color: #EFC73A;
        margin-top: 0%;
    
    }
    .ellips18{
        position: absolute;
        left: 0%;
        width: 287px;
        height: 288px;
        border-radius: 50%;
        background-color: #EFC73A;
        margin-top: 0%;
    }
    .hp-link-container{
        height: 335px;
        position: relative;
        background-color: #001630;
        position: relative;
    }
    .hp-link a:before{
        content:"過去のHPはこちらのリンクからみりことができます";
        color:#FFFF;
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        top: 35%;
        left: 11%;
    }
    .hp-link a:after{
        content:url(http://wdoraken.55street.net/toppage.htm)"早稲田大学 ドラえもん研究会(55street.net)";
        color:#FFFF;
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        top: 45%;
        left: 11%;
    }
    .en3 img{
        position: absolute;
        left: 42%;
        top: 0%;
        display: none;
    }
    .hp{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #EFC73A;
        position:absolute;
        top: 249%;
        left: 7%;
        display: none;
    
    }
    .hp p1{
        position: absolute;
        top: 29%;
        left: 13%;
        font-size: 20px;
        font-weight: 700;
        display: none;
    }
    .hp a{
        position: absolute;
        top: 46%;
        left: 10%;
        font-size: 20px;
        font-weight: 700;
        display: none;
    }
    .En2{
        position: relative;
    }
    .enn2{
        width: 100px;
        height: 100px;
        background-color: #EFC73A;
        border-radius: 50%;
        position: absolute;
        left: 54%;
        top: 250%;
        display: none;
    
    
    }
    .Container3{
        max-width: 100%;
        background-image:url(images/Frame\ 97\ \(1\).png) ;
        background-size: 100%;
        background-color: #001630;
        height: 383px;
        position: relative;
        background-repeat: no-repeat;
    }
    .Container3 img{
        max-width:100%;
        position: absolute;
        top:0%;
        background-color: #001630;
        display: none;

        
    }
    
    
    .footer{
        max-width:100%;
        height: 124px; 
        background-color:#002764;  
        display: none;
    }
    .footer p{
        font-size: 14px;
        color: white;
    }
    .TEXT{
        margin-left: 20px;
        padding-top: 20px;
    }

}
